---
import Layout from "../layouts/Layout.astro";

const countDownDate = new Date("Nov 20, 2022 00:00:00").getTime();
const now = new Date().getTime();
const distance = countDownDate - now;
let days = Math.floor(distance / (1000 * 60 * 60 * 24));
let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
let seconds = Math.floor((distance % (1000 * 60)) / 1000);
---

<Layout
    title="Ježiškova Dielňa"
    url=""
    description="Vianoce 2022 sú tu zase, a my s nimi! #1 Vianočná komunita, už od októbra 2020, čoskoro zase tu! Časté súťaže, skvelá komunita a oveľa viac, len u nás!"
    image="https://cdn.discordapp.com/attachments/778230973514776597/893583169553563728/snowman.exestoppedworkin.png"
>
    <main
        class="text-white text-center h-screen flex justify-center items-center flex-col"
    >
        <div>
            <h1 class="font-black text-6xl my-6">Ježiškova Dielňa</h1>
            <p id="countdown" class="text-5xl">
                {days + "d " + hours + "h " + minutes + "m " + seconds + "s "}
            </p>
        </div>
    </main>
</Layout>
